.footer
  .links
    a(href="/about_us")= messages.common.aboutUs
    a(href="/tos")= messages.common.termsOfService
    a(href="/privacy_policy")= messages.common.privacyPolicy
    a(href="/faq")= messages.common.faq
  .copyright!= messages.common.copyright
  .disclaimer!= messages.common.disclaimer